*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

#container{
	width: 1000px;
	margin: 0px auto;
	}
	#top{
		height: 145px;
		background-color: #e8e8e8;
		display:block;
		position: relative;
	}
	#top h1{
		height: 35px;
		font-size: 20px;
		font-family: "Times New Roman",serif;
		display: inline-block;
		vertical-align: top;
		margin: 30px 0px 0px 250px;
	}
	#top hr{
		height: 1px;
		background-color: gray;
	}
		.logo{
			display: inline-block;
			margin-left: 30px;
		}
		.navi_bar{
			padding-top: 10px;
			height: 30px;
			background: linear-gradient(180deg,white,#e0f0ff);
			padding-left: 40px;
		}
		.navi_bar ul{
			list-style-type: none;
			display: inline;
			margin-top: 30px;
		}
		.navi_bar li{
			border-right-style: groove;	
			border-color: white;
			padding: 14px 8px 14px 8px;
			font-weight: bold;
			display:inline;
			font-family: "Arial" serif;
			word-spacing: 6px;
			font-size: 12px;
			border-left: 10px;
			color: black;
		}
	#main{
		height:570px;
		display:block;
		background: radial-gradient(gray,black);
	}
		.big_middle{
			background: radial-gradient(gray,black);
			display:inline-block;
			margin: 13px 10px 5px 30px;s
		}
		.tiny{
			width: 50px;
			height: 17px;
			border-radius: 5px;
			margin: 7px;
			margin-left: 45px;
			display:inline-block;
		}
		.tinyt{
			vertical-align: top;
			display: inline-block;
			margin-top: 8px;
			color:#99cc00;
			padding-right: 400px;
		}
			.left_pic{
				display: inline-block;
				background-color: white;
				padding: 5px;
			}
				.big_right{
					display: inline-block;
					vertical-align: top;
					width: 500px;
					background-color: gray;
					margin-left: 20px;
					padding-bottom: 15px;
					padding-right: 35px;
				}
					.big_right h4,p{
					margin-left: 20px;
					}
					.big_text h4,p{
						color: white;
						font-size: 80%;
					}
					.headers1{
					width: 205px;
					background-color: #ffda47;
					display: inline-block;
					vertical-align: top;
					padding: 10px 321px 10px 10px;
					font-family: "times new roman",serif;
				}
		.uber_boxs{
			vertical-align: top;
			display: inline-block;			
			background: linear-gradient(180deg,white,#FFFFE6);
			width: 200px;
			height: 220px;
			margin-left: 29px;
			margin-right: 9px;
			border-style: groove;
			border-color: gray;
		}
		.uber_boxs img{
			width:200px;
		}
		.uber_boxs p{
			color: black;
			width: 160px;
			font-family: "Arial",serif;
			font-size: 58%;
			font-weight:bold;
			height: 60px;
		}
		.uber_boxs a{
			color: black;
			background-color: #ffda47;
			margin-left: 70px;
			font-size: 57%;
			font-family: "Arial",serif;
			padding: 4px;
			border-bottom: solid;
			border-top: solid;
			border-left: solid;
			border-color: black;
			display: inline-block;
			vertical-align: top;
			border-radius: 4px;
		}
  			.uber_head{
				background-color: #ffda47;
				padding: 5px 0px 5px 10px;
  			}
  			.point{
  				display: inline-block;
  				width: 0px;
  				height:0px;
  				margin-left: -5px;
  				border-top: 12px solid transparent;
  				border-bottom: 12px solid transparent;
  				border-left: 27px solid #ffda47;
  				position: absolute;
  			}
  			.pointline{
  				vertical-align: top;
  				display: inline-block;
  				width: 0px;
  				height: 0px;
  				margin-top: -2px;
  				margin-left: -5px;
  				border-top: 15px solid transparent;
  				border-bottom: 15px solid transparent;
  				border-left: 28px solid black;
  			}

